.footer {
  background: #ffffff;
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  padding: 1rem 1.5rem;
  }

  .footer > button {
  flex: 1 0;
  min-width: 165px;
  padding: 13px 1rem;
  }

  .footer-button {
  background: #ffffff;
  border: 1px solid #005c7f;
  color: #005c7f;
  transition: 0.3s;
  }

  .footer-button:hover {
  border: 1px solid #a2bdce;
  background: #a2bdce;
  color: #ffffff;
  }

  .footer-button-submit {
  background: #005c7f;
  border: 1px solid #005c7f;
  color: #ffffff;
  transition: 0.3s;
  }

  .footer-button-submit:hover {
  background: #a2bdce;
  border: 1px solid #a2bdce;
  }

  @media (min-width: 500px) {
  .footer > button {
  flex: 0;
  }
  }
